interface/node_modules
interface/.pnp
interface/.pnp.js
interface/coverage
interface/build
interface/.DS_Store
interface/.env.local
interface/.env
interface/.env.development.local
interface/.env.test.local
interface/.env.production.local
interface/npm-debug.log*
interface/yarn-debug.log*
interface/yarn-error.log*
api/node_modules
api/.pnp
api/.pnp.js
api/coverage
api/build
api/.DS_Store
api/.env.local
api/.env
api/.env.development.local
api/.env.test.local
api/.env.production.local
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
